.loader {
    border: 2px solid #F04D22; 
    border-top: 2px solid black; 
    border-radius: 50%;
    margin: 1.5rem 0;
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}; 

